// variables
$body-clr: rgb(77, 77, 77);
$bg: #f5f4f4;
$bg-menu:#5c626c;
$white: #fff;
$text-primary: #666;
$text-secondary: #2980b9;
$text-span: #e74c3c;
$btn-text: #3d72b4;
$link-text: #f4c150;
$border-color: rgb(218, 221, 221);
$border-input: rgb(204, 204, 204);
$linear-gradient: linear-gradient(135deg, #1abc9c 20%, #2980b9 80%);
$bg-section-two: #bfc6b8;
$box-shadow: rgba(0, 0, 0, 0.15);
$subtitle: #999;

$toggle-bg: #23527c;
$section-box: #858a80;
$sub-discuss: #f4c150;

$footer-bg: #4d545d;

$lighten-brd: hsla(0,0%,100%,.1);