@charset "utf-8";
@import "fonts.scss";
@import "colors.scss";
@import "global.scss";
@import "tools/maps.scss";
@import "tools/mixins.scss";
@import "tools/placeholders.scss";

/*----------HEADER NAV TOP-----------*/
.first-nav {
  @extend %two-firstnav;
  .header-nav__top {
    border-bottom: 1px solid $border-color;
  }
  &__list {
    @include flex(row, space-between, center);
  }
  &__link {
    font-family: 'Vazir', sans-serif;
    color: $text-primary;
    &:hover {
      color: darken($text-primary, 40%);
    }
  }
}

/*----------HEADER NAV BOTTON-----------*/

.seconde-nav {
  @extend %two-firstnav;
  &__title {
    &--link {
      font-size: 100%;
      color: $body-clr;
      & :only-child {
        color: $text-span;
      }
    }
  }

  &__search {
    @include flex(row, center, center);
    height: 47px;
    position: relative;
    display: none;
    flex-basis: 55%;
    @include respond-to(xlarge) {
      display: block;
    }
  }
  &__input {
    height: 100%;
    width: 90%;
    font-size: 110%;
    padding-right: 1em;
    outline: none;
    overflow: hidden;
    border: 1px solid $border-input;
    border-radius: 0 0.2em 0.2em 0;
  }
  &__btn {
    background-color: $text-secondary;
    padding: 1em;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.2em 0 0 0.2em;
    border: 2px solid $text-secondary;
  }
  &__list {
    display: none;
    @include respond-to(xlarge) {
      display: block;
      @include flex(row, space-between, center);
    }
  }
  @at-root {
    #seconde-nav__icon {
      color: $white;
      font-size: 150%;
    }
    .register {
      @extend %seconde-nav__listfont;
      color: $text-primary;
      &:hover {
        color: $text-span;
      }
    }
    .login {
      color: $text-span;
      @extend %seconde-nav__listfont;
    }

    .mobile-nav-icon {
      font-size: 2.7rem;
      color: $body-clr;
      cursor: pointer;
      @include respond-to(xlarge) {
        display: none;
      }
    }
  }
}

/*----------HEADER MENU TOGGLE----------*/
.header-menu__toggle {
  display: none;
  background-color: $white;
  font-size: 120%;
  width: 95%;
  position: absolute;
  right: 1em;
  z-index: 7000;
  &--list {
    @include flex(column, center, stretch);
  }
  &--item {
    padding: 1em;
    border-bottom: 1px solid $border-color;
    
    &:hover {
      background-color: $toggle-bg;
    }
    &:hover > a {
      color: $white;
    }
  }
  @at-root .search-input {
    border: 1px solid $border-color;
    border-radius: 0.5em;
    width: 95%;
    padding: 0.5em;
  }
}

/*----------HEADER MENU-----------*/
.forth-nav {
  display: none;
  @include respond-to(xlarge) {
    display: block;
  }
  background-color: $bg-menu;
  height: 50px;
  padding-top: 1em;
  &__list {
    @include flex(row, flex-start, center);
    @include respond-to(xlarge) {
      max-width: 1160px;
    }
  }
  &__link {
    font-size: 110%;
    color: $white;
    padding: 0 0.4em;
    margin-left: 2em;
    &:hover {
      color: darken($white, 20%);
    }
  }
  &__submenu--list {
    display: none;
  }
}

/*----------HEADER HERO PART-----------*/
.header-heropart {
  @include flex(row, center, center);
  background: $linear-gradient;
  height: 90vh;
  padding: 2em 3em;
  position: relative;

  &__img {
    display: none;
    width: 100%;
    position: absolute;
    right: -1px;
    top: -10px;
    opacity: 0.07;

    @include respond-to(large) {
      display: block;
    }
    @include respond-to(xlarge) {
      display: block;
      width: 55%;
      padding: 100px 0;
    }
  }
  &__pic {
    display: none;
    flex: 1;
    @include respond-to(xlarge) {
      display: block;
      @include flex(row, center, center);
    }
    &--imgself {
      min-width: 85%;
    }
  }
  &__text {
    color: $white;
    @include respond-to(small) {
      max-width: 560px;
    }
    @include respond-to(medium) {
      max-width: 560px;
    }

    @include respond-to(large) {
      @include flex(column, center, flex-start);
      max-width: 760px;
      margin-left: 4em;
    }
    @include respond-to(xlarge) {
      @include flex(column, center, center);
      align-self: flex-start;
      flex: 1;
      padding: 100px 0;
    }
  }
  &__title {
    @include text-hero(2.6em, center);
    letter-spacing: -1.3px;
    @include respond-to(small) {
      font-size: 3em;
    }
    @include respond-to(medium) {
      font-size: 3em;
    }
    @include respond-to(large) {
      font-size: 3em;
    }
    @include respond-to(xlarge) {
      font-size: 3em;
    }
  }
  &__subtitle {
    @include text-hero(1.4em, justify);
    margin: 30px 0;
    @include respond-to(medium) {
      font-size: 1.3em;
    }
  }
}

/*----------TUTORIAL SECTION----------*/
.tutorial-section {
  @include respond-to(small) {
    max-width: 550px;
  }
  @include respond-to(medium) {
    max-width: 550px;
  }
  @include respond-to(large) {
    max-width: 680px;
  }
  @include respond-to(xlarge) {
    max-width: 1100px;
  }
  &__head {
    @include flex(row, space-between, center);
    height: 50px;
    padding: 0 2em;
    border-bottom: 1px solid $border-color;

    &--nav {
      @include flex(row, space-between, center);
    }
    &--item {
      padding-bottom: 1.2em;
      border-bottom: 3px solid $text-secondary;
    }
    &--link1 {
      font-size: 140%;
      font-weight: 600;
      color: $body-clr;

      &:hover {
        color: darken($text-secondary, 10%);
      }
    }
    &--link2 {
      display: none;
      color: $body-clr;
      &:hover {
        color: darken($text-secondary, 20%);
      }
    }
    @at-root .view-more {
      font-size: 120%;
      color: $text-secondary;
      &:hover {
        color: lighten($text-secondary, 10%);
      }
    }
  }
  @at-root .flexibility {
    @include flex(column, space-between, center);
  }
}

/*----------BOX SECTION----------*/
.box-section {
  max-width: 480px;
  margin-left: -10px;
  margin-right: -10px;
  @include flex(column, space-between, center);
  @include respond-to(small) {
    max-width: 100%;
  }
  @include respond-to(medium) {
    @include flex(column, space-between, center);
    max-width: 100%;
  }
  @include respond-to(large) {
    @include flex(row, space-between, stretch);
    max-width: 100%;
    flex-wrap: wrap;
  }
  @include respond-to(xlarge) {
    @include flex(row, space-between, stretch);
    max-width: 100%;
  }

  &__wrap {
    // margin-right: 3em;
    @include respond-to(large) {
      flex-wrap: wrap;
    }
    @include respond-to(xlarge) {
      flex-wrap: wrap;
    }
  }

  &__item {
    @include flex(column, stretch, stretch);
    margin: 2em 0;
    padding-left: 0;
    width: calc(100% - 22px);
    @include respond-to(large) {
      width: calc(50% - 22px);
    }
    @include respond-to(xlarge) {
      width: calc(25% - 22px);
    }
  }

  &__img {
    position: relative;
    margin-bottom: -22px;
    border-radius: 1.5em 1.5em 0 0;
    overflow: hidden;
  }

  &__poster {
    width: 100%;
    height: 200px;
    transform: scale(1.02);
    transition: 0.3s;
    border-radius: 1.5em 1.5em 0 0;
    &:hover {
      transform: scale(1.06);
    }
  }
  &__user-experiance {
    font-size: 90%;
    margin-bottom: 0.7em;
    > a {
      font-weight: 600;
      color: $body-clr;
      &:hover {
        color: darken($text-secondary, 10%);
      }
    }
  }
  &__list {
    margin-top: 0.7em;
    font-size: 0.8em;
    > a {
      color: lighten($text-primary, 10%);
      &::before {
        content: "#";
      }
      &:hover {
        color: $body-clr;
      }
    }
  }
  &__content {
    @include flex(column, stretch, stretch);
    flex: 1;
    position: relative;
    background: $white;
    padding: 1em 1em 2em;
    margin-bottom: -1.2em;
    border-radius: 1.5em;
    box-shadow: 0 4px 5px 1px $box-shadow;
    z-index: 900;
  }
  &__title {
    font-size: 90%;
    color: inherit;
    &:hover {
      color: lighten($body-clr, 15%);
    }
  }
  &__desc {
    font-size: 0.9em;
    opacity: 0.8;
    line-height: 1.8;
    margin-top: 0.5em;
  }
  &__likes {
    margin-left: 0.4em;
  }
  &__footer {
    position: relative;
    @include flex(row, space-between, center);
    background: $white;
    height: 30px;
    border-radius: 0 0 1.5em 1.5em;
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.7em 1em;
    box-shadow: 0 4px 5px 1px $box-shadow;
    z-index: 950;
    &--right {
      @include flex(row, space-between, center);
    }
  }
}
.book-mark {
  position: absolute;
  top: 5%;
  right: 90%;
  color: $white;
  font-size: 160%;
  z-index: 100;
  cursor: pointer;
}

#heart:hover {
  color: $text-span;
}
.course-price {
  color: $text-span;
}
.vip-course {
  margin-top: 1em;
  color: $text-span;
}
/*----------media SECTION----------*/
.media-section {
  background: #bfc6b8;
  position: relative;
  padding: 50px 0;
  overflow: hidden;
  &::before {
    content: "";
    background: $bg-section-two url(../css/img/oriental-tiles.png) 50%/600px;
    width: 100%;
    height: 400%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.06;
  }
  &__container {
    @include flex(column, space-between, center);
    position: relative;
    z-index: 2;
    max-width: 440px;
    margin: 0 auto;
    @include respond-to(small) {
      max-width: 530px;
    }
    @include respond-to(medium) {
      max-width: 540px;
    }
    @include respond-to(large) {
      max-width: 700px;
    }
    @include respond-to(xlarge) {
      @include flex(row, space-between, flex-start);
      max-width: 1100px;
    }
  }
  &__rooket {
    @include respond-to(xlarge) {
      @include flex(column, space-between, stretch);
      width: calc(100% - 22px);
    }
    &--title {
      align-self: flex-start;
    }
  }
  &__partition {
    @include flex(column, space-between, stretch);
    width: 100%;
    margin: 1em;
  }
  &__head {
    padding-bottom: 1.5em;
    @include flex(row, space-between, stretch);
  }

  &__title {
    font-size: 1.8em;
    font-weight: 600;
    line-height: 1.7;
    & > a {
      color: $body-clr;
    }
  }
  &__desc {
    margin-top: 0.5em;
    font-size: 1.2em;
    &::before {
      content: " ";
      height: 9px;
      width: 9px;
      border-radius: 50%;
      margin-left: 0.8em;
      background: $btn-text;
      vertical-align: middle;
      box-shadow: 0 0 0 4px rgba(41, 128, 185, 0.2);
      margin-top: 0.3em;
      display: inline-block;
    }
  }

  &__list {
    @include flex(column, stretch, stretch);
  }
  &__item {
    @include flex(row, stretch, center);
    margin-bottom: 0.7em;
    padding: 1.5em;
    background: $white;
    border-radius: 0.6em;
    box-shadow: 0 1px 1px $box-shadow;
    position: relative;
    font-size: 1.2em;
    font-weight: 400;
  }
  &__btn {
    margin-top: 1.5em;
    align-self: flex-end;
    border: 1px solid $text-secondary;
    padding: 0.8em 1.5em;
    background: $text-secondary;
    border-radius: 50px;
    cursor: pointer;
  }
  &__see-video {
    @include respond-to(xlarge) {
      align-self: flex-end;
    }
  }
}
.see-all {
  font-weight: 400;
  color: #fff;
}
.bg-circle {
  background: #000;
  // display: none;
  height: 500px;
  width: 500px;
  position: absolute;
  opacity: 0.06;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  z-index: 1;
}
.media-circle {
  display: none;
  @include respond-to(large) {
    display: block;
  }
}

.avatar {
  width: 60px;
  height: 60px;
  background: rgb(98, 98, 98);
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid $border-color;

  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.details {
  flex: 5;
  margin-right: 0.5em;
  margin-left: 2em;
  &-title {
    line-height: 1.6;
    font-weight: 600;
    font-size: 1em;
    &:hover {
      color: darken($text-secondary, 20%);
    }
    &__left {
      line-height: 1.6;
      font-weight: 600;
      font-size: 1em;
      color: $white;
    }
  }
  &-subtitle {
    margin-top: 1em;
    color: $subtitle;
    font-weight: 400;
    font-size: 0.7em;
    color: $text-span;
    & :last-child {
      margin-right: 5px;
      font-size: 0.9em;
      color: $subtitle;
    }
  }
}
.answer {
  position: absolute;
  left: 10px;
  background: $text-primary;
  color: $white;
  font-size: 0.6em;
  padding: 7px 10px;
  border-radius: 2px;
}

.bg-item {
  background-color: $section-box;
  padding-top: 2em;
  padding-bottom: 2em;
}
.subject-discuss {
  > a {
    font-size: 0.8em;
    color: $sub-discuss;
    &:hover {
      color: darken($sub-discuss, 10%);
    }
  }
  & :last-child {
    font-size: 0.7em;
    color: lighten($subtitle, 30%);
  }
}

/*-------forth SECTION--------*/
.filter {
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: linear-gradient(
      135deg,
      rgba(67, 102, 229, 0.4) 20%,
      rgba(21, 119, 198, 0.6) 80%
    );
    z-index: 900;
  }
}
.micro-icon {
  position: absolute;
  z-index: 9500;
  top: 40%;
  right: 45%;
  font-size: 4em;
  color: hsla(0, 0%, 100%, 0.9);
  text-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
  &::before {
    content: "\f3c9";
  }
}
.podcaste {
  &-title {
    font-size: 1.2rem;
  }
  &-subtitle {
    color: $text-secondary;
    padding-top: 0.8em;
    padding-bottom: 0.5em;
  }
  &-desc {
    color: $body-clr;
    font-size: 0.9em;
  }
  & :only-child {
    color: $body-clr;
  }
  &-btn {
    align-self: center;

    &__btn {
      > a:hover {
        color: $text-secondary;
      }
      &:hover {
        background-color: transparent;
      }
    }
  }
}
/*--------FOOTER--------*/

.footer {
  background-color: $footer-bg;
  position: relative;
  padding: 25px 0 0;

  a {
    color: $white;
  }
  &-top {
    color: $white;
    margin: 0 auto;
    max-width: 460px;
    @include respond-to(small) {
      max-width: 560px;
    }
    @include respond-to(medium) {
      max-width: 560px;
    }
    @include respond-to(large) {
      max-width: 760px;
    }
    @include respond-to(xlarge) {
      max-width: 1100px;
    }

    &__container {
      @include flex(column, space-between, center);
      margin-bottom: 3em;
      padding: 0 1.2em;

      @include respond-to(xlarge) {
        @include flex(row, space-between, baseline);
        flex-wrap: nowrap;
      }
    }
  }
  &-item {
    @include flex(column, space-evenly, stretch);
    width: 100%;
    flex: 2;

    @include respond-to(xlarge) {
      width: calc(33% - 22px);
      @at-root {
        .contact-us {
          @include respond-to(xlarge) {
            padding-right: 6em;
          }
        }
        .rooket-section {
          @include respond-to(xlarge) {
            flex: 1;
            padding-right: 6em;
          }
        }
      }
    }
  }
  &-head {
    font-size: 140%;
    border-bottom: 1px solid $lighten-brd;
    padding: 1.5em 0 1em;
    margin-bottom: 1em;
  }
  &-desc {
    font-size: 110%;
    padding-bottom: 1em;
    line-height: 1.7;
  }
  &-list {
    font-size: 1em;
  }
  &-bottom {
    background-color: darken($footer-bg, 10%);

    &__container {
      @include flex(column, space-between, center);
      padding: 25px 0;
      max-width: 460px;
      margin: 0 auto;
      @include respond-to(small) {
        max-width: 560px;
      }
      @include respond-to(medium) {
        max-width: 560px;
      }
      @include respond-to(large) {
        max-width: 760px;
      }
      @include respond-to(xlarge) {
        @include flex(row, space-between, center);
        flex-wrap: nowrap;
        max-width: 1100px;
        padding: 2.2em 1.2em;
      }
    }
  }
}
.social-media {
  @include flex(row, stretch, center);
  font-size: 1.7em;
  text-align: center;
  @include respond-to(xlarge) {
    padding-right: 3em;
  }

  > li {
    padding: 0.2em;
  }
}
.copy-right {
  @include respond-to(xlarge) {
    margin-bottom: 0;
  }
  margin-bottom: 1em;
  text-align: center;
  color: $white;
}
